@page "/"

<h1>Home</h1>

<h3>Navigation</h3>
<ul>
    <li>
        <a href="/sender">Sender</a>
    </li>
    <li>
        <a href="/receiver">Receiver</a>
    </li>
    <li>
        <a href="/history">History</a>
    </li>
</ul>