# Visual Studio
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
TestResults/

# Build Results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

# Docker
docker-compose.override.yml
**/Dockerfile

# Logs
Logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files (чтобы случайно не залить чувствительные данные)
.env
.env.local
.env.development
.env.production

# Node.js (если есть Blazor WebAssembly с npm)
node_modules/
npm-cache/
yarn.lock
package-lock.json

# Rider / JetBrains IDE (если вдруг используешь)
.idea/

# MacOS system files (если работаешь на Mac)
.DS_Store


